<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    <link rel="stylesheet" href="/css/main.css"/>

</head>
<body>

<section class="notice">
    <div class="page-title">
        <div class="container">
            <h3><a th:href="@{/board/main}">게시판</a></h3>
        </div>
    </div>

    <!-- board seach area -->
    <div id="board-search">
        <div class="container">
            <div class="search-window">
                <form action="">
                    <div class="search-wrap">
                        <label for="search" class="blind">공지사항 내용 검색</label>
                        <input id="search" type="search" name="" placeholder="검색어를 입력해주세요." value="">
                        <button type="submit" id="searchBtn" class="btn btn-dark">검색</button>
                        <input type="hidden" id="userid" th:value="${userid}"/>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- board list area -->
    <div id="board-list">
        <div class="container">
            <table class="board-table">
                <thead>
                <tr>
                    <th scope="col" class="th-num">번호</th>
                    <th scope="col" class="th-title">제목</th>
                    <th scope="col" class="th-date">작성자</th>
                    <th scope="col" class="th-date">등록일</th>
                    <th scope="col" class="th-num">조회수</th>
                </tr>
                </thead>
                <tbody>
                <div th:if="${searchList eq null}">
                    <tr th:each="list, listStat: ${list}">
                        <td th:text="${listStat.count}"></td>
                        <th>
                            <a th:href="@{/board/view(id=${list.id})}"><span th:text="${list.title}"></span></a>
                            <p>테스트</p>
                        </th>
                        <td th:text="${list.writer}"></td>
                        <td th:text="${#temporals.format(list.updatedAt,'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td th:text="${list.count}"></td>
                    </tr>
                </div>
                <div th:if="${searchList ne null}">
                    <tr th:each="result : ${searchList}">
                        <td th:text="${resultStat.count}"></td>
                        <th>
                            <a th:href="@{/board/view(id=${result.id})}"><span th:text="${result.title}"></span></a>
                            <p>테스트</p>
                        </th>
                        <td th:text="${result.writer}"></td>
                        <td th:text="${#temporals.format(result.updatedAt,'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td th:text="${result.count}"></td>
                    </tr>
                </div>
                </tbody>
            </table>
            <br><br>
            <button type="button"  class="btn btn-dark" id="goHome">홈으로</button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button"  class="btn btn-dark" id="goWrite">글쓰기</button>
        </div>
    </div>

</section>
</body>
<script src="/js/main.js"></script>
</html>