<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>상세보기</title>
    <link rel="stylesheet" href="/css/view.css"/>
</head>
<body>
<div class="board-form">
    <h2><span></span></h2>
    <form action="#" method="post">

        <label for="author">작성자:</label>
        <input type="text" id="author" name="author" required>

        <label for="content">내용:</label>
        <textarea id="content" name="content" rows="20" required></textarea>
        <br><br>
        <button type="submit">글쓰기</button>
        <button type="button" id="goHome">홈으로</button>
    </form>
</div>
</body>
</html>