<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 상세보기</title>
    <link rel="stylesheet" href="/css/view.css"/>
</head>
<body>

<div class="container">
    <div class="post">
        <h2><span th:text="${board.title}"></span></h2>
        <input type="hidden" th:value="${board.id}" id="num"/>
        <div class="info">
            <p>
                작성자: <span th:text="${board.writer}"></span>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a th:if="${session.loginUser ne null} and ${session.loginUser.userid} eq ${board.writer}" th:onclick="goUpdate([[${board.id}]])">수정</a>
                <a th:if="${session.loginUser ne null} and ${session.loginUser.userid} eq ${board.writer}" th:onclick="goDelete([[${board.id}]])">삭제</a>
            </p>
            <p>
                조회수&nbsp; <span th:text="${board.count}"></span>
            </p>
        </div>
        <br><br>
        <p><span th:text="${board.content}"></span></p>

    </div>
    <br>
    <div class="comments">
        <h3>댓글 목록</h3>

        <div class="comment">
            <p>댓글 내용이 여기에 들어갑니다.</p>
        </div>

        <div class="comment">
            <p>댓글 내용이 여기에 들어갑니다.</p>
        </div>

    </div>
</div>

</body>
<script src="/js/view.js"></script>
</html>
