<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 글쓰기</title>
    <link rel="stylesheet" href="/css/write.css"/>

</head>
<body>
<div class="board-form">
    <h2>게시판 글쓰기</h2>
    <form action="#" method="post">
        <input type="hidden" th:if="${updateBoard ne null}" id="boardId"  th:value="${updateBoard.id}">
        제목:
        <input th:if="${updateBoard eq null}" type="text" id="newTitle" name="title" required>
        <input th:if="${updateBoard ne null}" th:value="${updateBoard.title}" type="text" id="updateTitle" name="title" required>

        <label for="author">작성자:</label>
        <input type="text" id="author" name="author" th:value="${session.loginUser.userid}" readonly>


        내용:
        <textarea th:if="${updateBoard eq null}" id="newContent" name="content" rows="20" required></textarea>
        <textarea th:if="${updateBoard ne null}" th:text="${updateBoard.content}" id="updateContent" name="content" rows="20" required></textarea>
        <br><br>
        <button type="button" id="goHome" th:href="@{/}">홈으로</button>
        <button th:if="${updateBoard eq null}" type="button" id="goSave">글쓰기</button>
        <button th:if="${updateBoard ne null}" type="button" id="goUpdate">수정하기</button>

    </form>
</div>
</body>
<script src="/js/write.js"></script>
</html>