<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>
</head>
<body>
<h1>Main</h1>
<h3><span th:if="${loginUser ne null}" th:text="${loginUser.userid}"></span> </h3>
<a th:href="@{/login}">로그인</a>
<a th:href="@{/join}">회원가입</a>
<button id="goBoard">게시판</button>
</body>

<script>
    var goBoard = document.getElementById('goBoard');

    goBoard.addEventListener('click',()=>{
            location.replace('/board/main');
        }


</script>

</html>